#root {
  overflow-x: hidden;

}
:root{
  background-color: #000;
}

.bienvenida{
  height: 100vh;
  background-color: #DCE0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin : -10px -10px 0 -10px;
  padding: 0 15px 15px 0;
}

.bienvenida .nombre{
  color: #000;
  font-family: Hind;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  max-width: 70%;
  font-size: calc(100% + 7vw);
  overflow: hidden;
  margin-top: -10vh;
  margin-bottom: 40px;
  padding-bottom: 0;
  text-align: center;
}

.bienvenida .logos{
  padding: 0;
  margin: 0;
  margin-top: -5vh;
  min-width: 300px;
  width: 60%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;  
  justify-content: space-around;
  gap: 16px;
}

.bienvenida .logos .lenguaje{
  min-width: 80px;
  width: 8vw;
  max-width: 120px;
}

.sobreMi{
  min-height: 30vh;
  background: #EF626C;
  margin: 0;
  display: grid;
  grid-template-columns: 20vw 1fr;
  padding: 2.5vh 10vw;
  column-gap: calc(50px + 1vw);
  justify-items: center;
  align-items: center;
}

.sobreMi .logo {
  min-width: 100px;
  width: 18vw;
  max-width: 200px;
}

.sobreMi .titulo{
  margin-bottom: 0;
}
.sobreMi .subTitulo{
  margin-top: 0;
}


.sobreMi .subTitulo{
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.estudios{
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(200px, 20vw) 1fr;
  min-height: 95vh;
  padding: 2.5vh;
  column-gap: 30px;
}

.estudios .soft {
  margin: 10vh 4vw;
  width: 18vw;
  min-width: 200px;
}

.estudios .soft .logo {
  width: 90%;
  max-width: 250px;
  min-width: 130px;
}

.estudios .hard{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3vw;
  padding-right: 5vw;
  flex-wrap: wrap;  
}

.estudios .hard .institucion{
  display: grid;
  grid-template-rows: calc(auto + 1vh) 3vh auto;
  column-gap: calc(50px + 1vw);
  justify-items: center;
  align-items: center;
  width: 19vw;
  min-width: 200px;
}
.estudios .hard .institucion .texto{
  text-align: left;
  max-width: 70vw;
}
.estudios .hard .institucion .logoInsti{
  width: 19vw;
  min-width: 200px;
}
.estudios .hard .jap .logoInsti{
  margin: 60px 0;
}

.proyectos {
  background-color: #EF626C;
  min-height: 95vh;
  padding: 2.5vh;
  text-align: center;
}
.proyectos .proyectoTitle {
  margin: 5vh 0;
}

.listaProyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 53px;
}

@media (max-width: 750px) {
  .estudios{
    display: grid;
    grid-template-columns: 1fr;
  }
  .estudios .hard{
    flex-direction: column;
    gap: 5vw;
    padding-right: 5vw;
  }
  .estudios .soft{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    width: 100%;
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 50px;
  }
  .estudios .hard .institucion{
    margin-bottom: 50px;
  }
  .estudios .hard .jap .logoInsti{
    margin: 0;
  }
}

@media (max-width: 500px) {
  .sobreMi{
    display: block;
  }
  
  .sobreMi .logo {
    display: none;
  }
}