.footer{
    width: 100%;
    height: 200px;
    background-color: #087F8C;
    color: #fff;
    position: relative;
}

.contacto {
    padding: 50px 0 0 56px;
    margin: 0;
}
.contacto .subTitulo, .contacto .texto{
    margin: 0;
    margin-bottom: 15px;
}

.footer .mail {
    position: absolute;
    top: 55px;
    right: 90px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .mail .sendMail{
    margin-right: 60px;
}

a.logo img::selection{
    background:#0000;
}
.contacto .subTitulo::selection, .contacto .texto::selection, .contacto br::selection{
    color: #087F8C;
    background-color: #fff;
}

@media (max-width: 750px) {
    .footer{
        min-height: 200px;
        height: auto;
    }

    .footer .mail {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: unset;
        top:unset;
        right: unset;
    }
    .footer .mail .sendMail{
        margin: 30px;
        margin-bottom: 0;
    }
    .footer  .mail .logo{
        margin-top: 30px;
    }
    .contacto {
        padding: 50px 0 0 56px;
        margin: 0;
    }
    .contacto .subTitulo, .contacto .texto{
        margin: 0;
        padding: 15px;
    }
}